*{
  align-items: center;
}

body {
    text-align: center;
    background-color: #0A0742;
    width: 100%;
    padding: 0;
    margin: 0;
}

.main h1 {
    color: #FF7B3C;
}

.main a {
    color: #73D0FE;
}

.main .image img {
    width: 600px;
    height: 500px;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px 10px;
    padding: 0;
    min-height: 20vh;
}

  .content .links a {
    text-decoration: none;
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    margin-left: 70px;
    width: 60%;
    text-align: center;
    align-items: center;
    border: none;
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    display: block;
  }

  button{
      background-color:  none;
  }

  @media screen and (max-width:700px){

    body{
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    .content{
        width: 100%;
        height: 100%;
        display: table;
      }

      .image{
        margin-top:10px;
      }
      
      .main .image img {
        width: 80%;
        height: 200px;
    }

    .content .links{
        float:unset;
        max-width:100%;
        height: 100%;
        margin-left:-12px;
    }

  }

  @media screen and (max-width:320px){
    .content .links a {
      margin-left: 55px;
    }
  }
  @media screen and (max-width:1000px){
    .content .links a {
      margin-left: 55px;
    }
  }